<h1>Add A New Actor</h1>

<form action="/create_actor">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="string" name="name">
  </div>

    <div>
      <label for="bio">Bio:</label>
      <input id="bio" type="text" name="bio">
    </div>
    <div>

      <div>
        <label for="dob">Dob:</label>
        <input id="dob" type="string" name="dob">
      </div>
      <div>


      <div>
        <label for="image_url">Image URL:</label>
        <input id="image_url" type="string" name="image_url">
      </div>
      <div>


        <button>Create actor</button>
      </div>
    </form>
