<h1>Add A New Movie</h1>

<form action="/create_movie">
  <div>
    <label for="Title">Title:</label>
    <input id="Title" type="string" name="title">
  </div>


  <div>
    <label for="year">Year:</label>
    <input id="year" type="integer" name="year">
  </div>
  <div>


    <div>
      <label for="duration">Duration:</label>
      <input id="duration" type="integer" name="duration">
    </div>
    <div>

      <div>
        <label for="description">Description:</label>
        <input id="description" type="text" name="description">
      </div>
      <div>


      <div>
        <label for="image_url">Image URL:</label>
        <input id="image_url" type="string" name="image_url">
      </div>
      <div>


        <button>Create Movie</button>
      </div>
    </form>
